@import '../../../../styles';
@import 'variables';

.oxd-table-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  padding-left: $oxd-table-row-left-padding;
  padding-right: $oxd-table-row-right-padding;
}

.oxd-table-body > .oxd-table-row {
  &:hover {
    color: $oxd-table-row-hover-font-color;
    background-color: $oxd-table-row-hover-bg-color;
  }

  &--with-border {
    border-top: $oxd-table-row-border $oxd-table-row-border-color;
  }
}

.oxd-table-row--clickable {
  cursor: pointer;
}

:deep(.oxd-table-cell-actions) {
  justify-content: flex-end;
}

:deep(.oxd-table-th), :deep(.oxd-table-cell){
  &:first-child {
    padding-left: 5px;
  }
}

:deep(.checkbox-cell ){
  padding-right: 0;
}

